OPENROUTER_KEY=your_openrouter_key_here
LASTFM_API_KEY=your_lastfm_api_key_here
SESSION_SECRET=a_random_secure_string_here
GO2RTC_API=http://127.0.0.1:1984
MEDIAMTX_HOST=127.0.0.1

# Directorio base absoluto para mapeo de volúmenes de Docker (p. ej /home/usuario/ddnlayerdirector)
PROJECT_DIR=/Absolute/Path/To/Your/Project
